* {
    /*font-family: "Bitstream Vera Sans Mono";*/
    font-family: 'VT323', cursive, monospace;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
}

#console {
    /*border: 1px solid black;*/
    width: 100%;
    font-size: 1.5em;
    overflow: hidden;
    text-transform: uppercase;
}

#console-input {
    font-size: 1em;
    position: relative;
    /*left: -100%;
    width: 100;*/
    width: 100%;
    border: none;
    background-color: red;
}

.console-feedback-line, .system-feedback {
    font-size: 1em;
    min-height: 1em;
}

.console-caret, .console-char {
    height: 1em;
    /*width: 1.2ex;*/
    min-width: 1.2ex;
    display: inline-block;
    vertical-align: bottom;
    color: black;
}

.system-feedback .console-char {
    color: red;
}

.console-char.volatile {
    background-color: #eeeeee;
}

.console-caret.hi {
    background: black;
    color: white;
}

.console-caret.lo {
    background: white;
    color: black;
}

.console-caret.lo.volatile {
    background: #eeeeee;
}

.console-feedback-line.system-feedback .console-caret.hi {
    background: red;
    color: white;
}

.console-feedback-line.system-feedback .console-caret.lo {
    background: white;
    color: red;
}

.console-feedback-line.system-feedback .console-caret.lo.volatile {
    background: #eeeeee;
    color: red;
}