* {
    /*font-family: "Bitstream Vera Sans Mono";*/
    font-family: 'VT323', cursive, monospace, prestige;
    font-weight: 400;
}

#console {
    border: 1px solid black;
    width: 500px;
    font-size: 1.5em;
    overflow: hidden;
    font-variant: proportional-width;
    text-transform: capitalize;
}

#console-input {
    font-size: 1em;
    position: relative;
    /*left: -100%;
    width: 100;*/
    width: 100%;
    border: none;
    background-color: red;
}

.console-feedback-line {
    font-size: 1em;
}

.console-caret, .console-char {
    height: 1em;
    width: 1.2ex;
    display: inline-block;
    vertical-align: bottom;
}

.console-char.volatile {
    background-color: #eeeeee;
}

.console-caret.hi {
    background: black;
    color: white;
}

.console-caret.lo {
    background: white;
    color: black;
}
